@import "styles/index.scss";

.pressinggame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100vh;
  font-family: "Apex";
  background: $oo-black;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    color: $oo-white;

    > small {
      margin-right: 10px;
    }

    > img {
      width: 100px;
      height: 100px;
    }
  }

  &__button {
    background: $oo-purple;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-family: "Apex";
    font-size: 1.4rem;

    &--claimtreasure {
      background: $oo-green;
    }

    &:hover {
      background: $oo-white;
      color: $oo-black;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
  }
}
